# Backup Files
*.bak
*.zip
*.exe

# Compiled Sequences
*.lcs

# Windows Desktop
desktop.ini
Thumbs.db

# Audio
Audio/*
*.mp3
*.wav
*.m3u
*.pls
*.m4a
*.flac
*.cue
*.ape
*.loredit

Utils/*
Superstar/*
Sequences/Earlier Versions/*
Sequences/2020/*
Sequences_Mine_Old/*
SequencesFromOtherPeople_Good/*
