# Backup Files
*.bak
*.zip
*.exe

# Compiled Sequences
*.lcs

# Windows Desktop
desktop.ini
Thumbs.db

# Audio
Audio/*
./Audio/*
*.mp3
*.wav
*.m3u
*.pls
*.m4a
*.flac
*.cue
*.ape
*.loredit

Utils/*
./Utils/*
Superstar/*
./Superstar/*
Sequences/Earlier Versions/*
./Sequences/Earlier Versions/*
Sequences/2020/*
./Sequences/2020/*
